@font-face {
  font-family: "Pixelboy";
  src: url("media/pixelboy.ttf");
}

body {
  background-color: #aab8aa;
  font-family: "Consolas";
}

canvas {
  margin: 0 auto;
  display: block;
  /* border-radius: 10px; */
  /* cursor: none; */
}
