@font-face {
  font-family: "Pixelboy";
  src: url("fonts/pixelboy.ttf");
}

@font-face {
  font-family: "PressStart";
  src: url("fonts/PressStart.ttf");
}

body {
  background-color: #808080;
  font-family: "PressStart";
  font-size: 28px;
  text-align: center;
}

canvas {
  margin: 0 auto;
  display: block;
  box-shadow: 0px 0px 8px 4px #ffffac;
  cursor: none;
}
